  .main{
    margin: 0vw auto;
    margin-top: 4.71vw;
    width: 102.4vw;
    height: 51.2vw;
    border: solid thin;
  }

  .main .title{
    height: 6.4vw;
    width: 38.4vw;
    text-align: center;
    border: solid thin;
    float: left;
  }

  .main .title h1{
    font-size: 3.6vw;
  }

  .main .img{
    height: 43.2vw;
    width: 63.6vw;
    border: solid thin;
    float: right;
  }

  .main .impact{
    height: 44.8vw;
    width: 38.4vw;
    border: solid thin;
    float: left;
  }

  .main .description{
    height: 7.8vw;
    width: 63.6vw;
    border: solid thin;
    float: right;
    font-size: 1.2vw;
  }
