.Sponsors{
   width: 80vw;
   height: auto; 
   margin: 2vw auto;
}

.Sponsors .header{
    width: 80vw;
    height: 15vw;
    font-size: 7vw;
    text-align: center;
    line-height: 14vw;
}

.Sponsors .header .banner{
    width: 35vw;
    height: 15vw;
    float: right;
}

.Sponsors section{
    width: 40vw;
    height: auto;
    float: left;
    text-align: center;
    font-size: 3vw;
}

.Sponsors ul{
    margin-top: 5vw;
}

.Sponsors ul li{
    font-size: 2vw;
    
}

.sponsorUs{
    width: 80vw;
    height: 40vw;
    margin: 0vw auto;
}

.sponsorUs .header{
    width: 80vw;
    height: 10vw;
    font-size: 7vw;
    text-align: center;
    line-height: 10vw;
}

.sponsorUs .header img{
    width: 25vw;
    height: auto;
    float: right;
    margin-top: 5vw;
}

.sponsorUs .body{
    width: 45vw;
    height: 10vw;
    text-align: center;
    margin: .5vw 2vw 0vw;
    float: left;
    font-size: 1.5vw;
}

.sponsorUs .sponsLevels{
    width: auto;
    height: auto;
    margin: 10vw 1vw .5vw 15vw;
    font-size: 3vw;
}

.sponsorUs .levels{
    width: 56vw;
    height: 18vw;
}

.sponsorUs .levels .level{
    width: 10.5vw;
    height: 20vw;
    margin: 0 .1vw;
    border: groove .1vw;
    float: left;
    text-align: center;
    font-size: 2vw;
    background-color: rgba(59, 80, 59, 0.377);
    border-color: black;
}

.sponsorUs .levels .level .bronze{
    font-size: 1.25vw;
    text-align: left;
}

.sponsorUs .levels .level .bronze li{
    margin-top: .4vw;
}

.sponsorUs .levels .level .silver{
    font-size: 1.25vw;
    text-align: left;
}

.sponsorUs .levels .level .gold{
    font-size: 1.25vw;
    text-align: left;
}

.sponsorUs .levels .level .gold li{
    margin-top: .5vw;
}

.sponsorUs .levels .level .platinum{
    font-size: 1vw;
    text-align: left;
}

.sponsorUs .levels .level .platinum li{
    margin-top: .2vw; 
}

.sponsorUs .levels .level .premier{
    font-size: 1vw;
    text-align: left;
}

.sponsorUs .levels .level .premier li{
    margin-top: .4vw;
}