main{
    height: 40vw;
    width: 80vw;
    margin: 1.25vw auto;
}

main .header{
    height: auto;
    width: 80vw;
    text-align: center;
    font-size: 5vw;
    color: black;
}

main .info{
    width: 40vw;
    height: 32vw;
    text-align: center;
    padding: 1vw;
    font-size: 1.1vw;
    color: black;
    float: left;
}

main .img{
    width: 37vw;
    height: 34vw;
    float: right;
}

main .img img{
    width: 25vw;
    height: auto;
    margin: 0vw 6vw 0vw 6vw;
}